.Titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 300px;
  border-radius: 100px;
  width: 300px;
  color: white;
  font-size: 20px;
}

.main{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.nav1{
  display: flex;
  justify-content: center;
  align-items: center;
}
