.Titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 300px;
  border-radius: 100px;
  width: 300px;
  color: white;
  font-size: 20px;
}

.botones{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: red;
}

.main {
  background-image: url('./css/fondo.png');
  background-repeat: no-repeat;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  background-position: center center; /* Centra la imagen en el contenedor */
  background-attachment: fixed; /* Fija el fondo */
  display: flex;
  flex-direction: column;
  min-height: 91vh; /* Establece una altura mínima del viewport */
}


.nav1{
  display: flex;
  justify-content: center;
  align-items: center;
}
