.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 90px;
    gap: 60px;
    background-color: rgba(39, 133, 241, 0.596);
    margin-top: -40px;
}

.a{
    text-decoration: none;
    color: black;
    background-color: rgba(39, 133, 241, 0.596);
    width: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    
}

.imagen{
    height: 40px;
    width: 40px;
    margin-left:-30px;
    border-radius: 10px;
}

h1{
    color: white;
    font-size: 25px;
    margin-right: -20px;

} 

.a:hover{
    background-color:#50c1ee;
    transition: calc(0.5s);
}

.th{
    font-size: 2px;
}


.small-header {
    font-size: 20px; /* Ajusta el tamaño de fuente según tus preferencias */
    padding: 0px;
    background-color: #50c1ee;
}

.small-header1{
    font-size: 15px;
    padding: 0px;
    background-color: #50c1ee;
}

.small-header2{
    font-size: 15px;
    padding: 0px;
    background-color: #50c1ee;
}

.small-header3{
    font-size: 15px;
    padding: 0px;
    background-color: #50c1ee;
}

.Table {
    margin: 40px auto; /* Esto centra horizontalmente la tabla y la mueve 40px hacia abajo desde la parte superior */
    max-width: 800px; /* Define un ancho máximo para la tabla (ajústalo según tus necesidades) */
    background-color: #000000;
  }
  
.Table1{
    margin: 40px auto; /* Esto centra horizontalmente la tabla y la mueve 40px hacia abajo desde la parte superior */
    max-width: 800px; /* Define un ancho máximo para la tabla (ajústalo según tus necesidades) */
    background-color: #000000;
}

.Table3{
    margin: 40px auto; /* Esto centra horizontalmente la tabla y la mueve 40px hacia abajo desde la parte superior */
    max-width: 800px; /* Define un ancho máximo para la tabla (ajústalo según tus necesidades) */
    background-color: #000000;
}



.casilla{
    text-align: center;
    background-color: #41d4ee;
}

.casilla1{
    text-align: center;
    background-color: #41d4ee;

}

.casilla2{
    text-align: center;
    background-color: #41d4ee
    ;

}

.casilla3{
    text-align: center;
    background-color: #41d4ee;

}

.boton{
    margin-left: 10px;
    background-color: #f5dfcd4d;
}

.boton1{
    margin-left: 20px;
    background-color: #f5dfcd4d;

}

.boton2{
    margin-left: 12px;
    background-color: #f5dfcd4d;

}

.boton3{
    margin-left: 12px;
    background-color: #f5dfcd4d;

}


